/* utiities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Whitney, Helvetica Neue, Helvetica,Arial, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}
.col{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
    
}

.text-white{
    color: white;
}
.text-black{
    color: black;
}

.text-color-lessblack{
    color: #45484a;

}

.bgc-white{
    background-color: white;
}
.bgc-black{
    background-color: black;
}


.f-size-16px{
    font-size: 16px;
}
.f-size-20px{
    font-size: 20px;
}
.f-size-50px{
    font-size: 50px;
}

.btn-small{
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px;
    text-decoration: none;
}
.btn-big{
    padding: 15px 25px;
    border-radius: 25px;
    border: 2px;
    text-decoration: none;
    display: inline-block;
    margin: 50px 10px 0 10px;
}

.uppercase{
    text-transform: uppercase;
}
.section-title{
    margin-bottom: 20px;
    font-size: 50px;
}

.margin-left-x{
    margin-left: 50px;
}
/* structure */
/* header */
header{
    background-color: #3161e0;
    
}
.topbar{
    height: 80px;
    line-height: 80px;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 15px;
}

.logo{
    vertical-align: middle;
}


.jumbo{
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbo-text{
    text-align: center;
    width: 650px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    margin-bottom: 40px;
    font-size: 50px;
}

li:hover{
    text-decoration: underline;
    text-decoration-color: lightblue;
    color: lightblue;
}

.w-20 a:hover{
    color: white;
    background-color:darkblue;
}

#hover-white:hover{
    background-color: white;
    color: black;   
}
#hover-black:hover{
    background-color: black;
    color: white;   
}

/* fine header - inizio main */

section .container{
    margin-top: 100px;
}


.section-one{
    height: 600px;
}
.img-text{
    text-align: left;
    margin-top: 30px;
}


